body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	background-image: url('http://www.handsomecopy.com/images/bgs/dark_texture.png');
	color:white;
	
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

body {
	font-family: georgia;
	font-size:1.1em;	
}

small {font-style:italic; }

#tweets li {
	font-size:13px;
	background:url(images/twitter.png) no-repeat left ;
	padding-left:25px;
	padding-top:4px;
	margin-left:10px;
	margin-top:8px;
	list-style-type:none;
	height:17px;
	font-family: Verdana;

}
#tweets
{
	margin-left: 100px;
	margin-top: 25px;
	border: 2px dashed white;
	width: 900px;
	height: 120px;

}

#cato
{
   position: relative;
   top:50px;
   left: 400px;
   



}

.adim
{
	position: absolute;
	left:700px;
	top:70px;
	font-size: 80px;
	font-family: 'Londrina Outline', cursive;
	color:red;
	letter-spacing: 15px;
	text-shadow: black 0.1em .1em 0.2em;




}
.uid
{
	font-size: 15px;
	color:yellow;
	letter-spacing: 10px;
	font-family: 'Orbitron', sans-serif;



}
p.ver
{
	font-size: 9px;
	color: white;
	font-family: verdana;
	float: right;
}
.izmir
{
   color:green;
   font-size: 12px;
   left:45px;
   position: absolute; 
   top:90px; 
   font-family: verdana;
   letter-spacing: normal;
}

#tweets .hash { color:#0066CC; } 

#tweets .reply { color:#0066CC; } 

#tweets a:link { text-decoration:none; color:#0066CC;}
#tweets a:active { text-decoration:none; color:#0066CC;}
#tweets a:hover { text-decoration:underline; color:#0066CC;}
#tweets a:visited { text-decoration:none; color:#0066CC;}

#conta
{

	letter-spacing: 55px;
	margin-left:700px;
	
}